body {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  background-image: url("https://infojegyzet.hu/vizsgafeladatok/okj-html/rendszeruzemelteto-191008/forras/hatter.jpg");
  background-size: cover;
}



#content {
  background-color: rgba(255, 255, 255, 0.6);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 40px;
  width: 980px;
}

.frame {
  width: 490px;
  padding: 0px 5px 5px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 70px;
  background-color: rgba(227, 225, 233, 0.8);
  border: 3px solid green;
  float: right;
  
}

.frame img {
  width: 499px;
  position: relative;
  left: -5px;
  border-bottom: 2px solid black;
}

h1,
h2 {
  font-variant: small-caps;
  font-style: italic;
}

p.imgtitle {
  font-size: 1.1em;
  margin: 0;
  text-align: center;
  font-style: italic;
  line-height: 130%;
  
  
}


table {
  border: 3px solid green;
  border-collapse: collapse;
  text-align: center;
  float: left;
  background-color: rgba(227, 225, 233, 0.8);
  margin-right: 20px;
  height: 200px;
  width: 500px;
  justify-content: center;
}
.header {
	background-color: green;
	line-height: 50px;
	text-align: center;
	
}
a:link,
a:visited {
  color: blue;
  text-decoration: none;
  
}
a:hover {
	color: yellow;
}
section {
	text-align: justify;
	text-indent: 25px;
	
}



